*{
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box;
}
.en-tete{
    background-color: rgb(252, 252, 181);
    display: flex;
}
.mot1{
    width : 30vw;
    font-family: cursive;
    font-size: 3vw;
}
.mot2{
    margin-left: 50vw;
    margin-right: 1vw;
}
.div1{
    display: flex;
    justify-content: space-around;
}
.mot3{
    margin-right: 1vw;
} 
.div2{
    background-position: center;
    background-size: cover;
    background-image: url(../photo/image-principale.JPG);
    width: 100vw;
    height: 100vw;
}
.ar{
    font-family:fantasy;
}
.cl1{
    position: relative;
    top : 30vw;
    font-family: cursive;
    font-size: 15vw;
    text-shadow: 0.4vw 0.4vw 1vw black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(252, 252, 181);
}
.cl2{
    position: relative;
    top:40vw;
    font-size: 5vw;
    display: flex;
    text-shadow: 0.4vw 0.4vw 1vw black;
    justify-content: center;
    align-items: center;
    color: rgb(252, 252, 181);
    font-family: fantasy;
}
.div3{
    justify-content: center;
    align-items: center;
}
.lieu{
    position: relative;
    top: 1vw;
    font-size: 3vw;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(100, 26, 26);
}
.texte1{
   padding-left: 5vw;
   padding-right: 5vw;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   margin: 1vw;
   align-items: center;
   font-size: 2vw;
}
.div4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 3vw;
    text-shadow: 0.1vw 0.1vw 1vw black;
    position: relative;
    margin: 1vw;
}
.acim1{
    margin: 7vw;
}
.acim2{
    margin: 7vw;
}
.acim3{
    margin: 7vw;
}
.im1{
    background-image: url(../photo/carte.JPG);
    width: 200px;
    height: 250px;
    box-shadow: 0.5vw 0.5vw 1vw black;
    border-radius: 1vw;
    display: flex;
}
.im2{
    background-image: url(../photo/chambre.JPG);
    width: 200px;
    height: 250px;
    box-shadow: 0.5vw 0.5vw 1vw black;
    border-radius: 1vw;
    display: flex;
}
.im3{
    background-image: url(../photo/repas.JPG);
    width: 200px;
    height: 250px;
    box-shadow: 0.5vw 0.5vw 1vw black;
    border-radius: 1vw;
    display: flex;  
}
.just1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.just2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.just3{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.section3{
    background-color: rgb(247, 208, 208);
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.acim4{
    background-color: lightgreen;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw;
    box-shadow: 0.5vw 0.4vw green;
    position: relative;
    flex-direction: column;
    left:50vh;
    top:20vh;
}
.acim5{
    background-color: lightblue;
    box-shadow: -0.5vw 0.4vw rgb(55, 55, 248);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    top: 20vh;
    left:20vw;
    justify-content: center;
    margin: 2vw;
}
.im4{
    background-image: url(../photo/ocean.jpg);
    display: flex;
    width: 550px;
    height: 220px;
    margin-right: 20vw;
}
.im5{
    background-image: url(../photo/chateau.JPG);
    display: flex;
    width: 550px;
    height: 220px;
    margin-left: 28vw;
}
.im6{
    background-image: url(../photo/phare.JPG);
    display: flex;
    width: 550px;
    height: 220px;
}
.im7{
    background-image: url(../photo/vignes.jpg);
    display: flex;
    width: 550px;
    height: 220px;
    margin-left: 28vw;
    margin-bottom: 5vw;
}
.shim{
    box-shadow: 1vw 1vw 4vw black;
}
.sectionfin{
    background-color: brown;
}
.cont{
    font-size: 3vw;
    color:  rgb(252, 252, 181);
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
}
.fin1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin-top: 3vw;
}
#nomm{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: beige;
}
#mess{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background-color: beige;
}
#env{
    font-family: 'Courier New', Courier, monospace;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color:  rgb(252, 252, 181);
    margin: 5px;
}